@model Thomas_Gaming_Club.Models.VideoGame

@{
    ViewBag.Title = "Delete Game";
}
@section Styles {
    <link href="@Url.Content("~/Content/Games.css")" rel="stylesheet" type="text/css" />
}


<div class="main-content">

    <h3>Are you sure you want to delete this?</h3>
    <div class="accent-bar"></div>
    @{ 
        string gameImage = Model.Title + ".jpg";

        <div class="game-container">
            <div class="game-img">
                <img src="~/Images-Games/@gameImage" />
            </div>

            <div class="game-info">
                <h3>@Model.Title</h3>
                <ul>
                    <li>Year Released: Model.Year</li>
                    <li>Publisher: @Model.Publisher</li>
                    <li>Developer: @Model.Developer</li>
                </ul>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div id="delete-return">
                       <!-- <input type="submit" value="Delete" class="button" id="delete-button"/>-->
                        @Html.ActionLink("Return to Resource Manager", "ResourceManager", "Resource", new { @class = "button" })
                    </div>
                }
            </div>
        </div>
    }
</div>