@model Thomas_Gaming_Club.Models.VideoGame

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VideoGame</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.year)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.year)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.publisher)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.publisher)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.developer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.developer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.platform)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.platform)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.gameId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
