@{
    ViewBag.Title = "Wii Games";
}
@section Styles {
    <link href="@Url.Content("~/Content/Games.css")" rel="stylesheet" type="text/css" />
}

<div class="main-content">
    <h2>All of Our Wii Games</h2>
    <div class="accent-bar"></div>
    @{
        foreach (var game in ViewBag.Videogames)
        {
            string gameImage = game.Title + ".jpg";

            <div class="game-container">
                <div class="game-img">
                    <img src="~/Images-Games/@gameImage" />
                </div>

                <div class="game-info">
                    <h3>@game.Title</h3>
                    <ul>
                        <li>Year Released: @game.Year</li>
                        <li>Publisher: @game.Publisher</li>
                        <li>Developer: @game.Developer</li>
                    </ul>
                </div>
            </div>
            <div class="game-accent-bar"></div>

        }
    }

</div>