@{
    ViewBag.Title = "All Contacts";
}

<h2>All Contact Submissions</h2>
<h3 id="resman-link">Manage Games here: @Html.ActionLink("Resource Manager", "ResourceManager", "Home")</h3>

@section Styles {
    <link href="@Url.Content("~/Content/AllContactsStyle.css")" rel="stylesheet" type="text/css" />
}

<!-- SUBMIT TABLE -->
<div class="database-display">
    <table id="database-table">
        <tr>
            <th>Contact</th>
            <th>Connection</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
        </tr>
        
            @foreach (var data in ViewBag.Contacts)
            {
                <tr>
                    <td> @data.PreferredContact </td>
                    <td> @data.PreferredTitle</td>
                    <td> @data.FirstName @data.LastName</td>
                    <td> @data.Email</td>
                    <td> @data.Phone</td>
                    <td> @data.Message</td>
                </tr>
            }
        

    </table>
</div>
<!-- END SUBMIT TABLE -->
